@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://cdnjs.cloudflare.com/ajax/libs/firacode/6.2.0/fira_code.min.css');

* {
  padding: 0;
  margin: 0;
}

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
}
@layer base {
  :root {
    --color-primary: 199 120 221;
    --color-gray: 171 178 191;
    --color-background: 40 44 51;
    --color-white: 255 255 255;
    font-family: 'Fira Code';
  }
}

.header {
  z-index: 888;
  &-social {
    left: 17px;
    top: 0;
    z-index: 999;
    &__line {
      width: 1px;
      height: 191px;
    }
    &__icon {
      width: 32px;
      height: 32px;
    }
  }
}
body {
  background: rgb(var(--color-background))
}
#root {
  height: 100vh;
  overflow-y: auto;
}