@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400;0,500;1,400;1,500&family=Quicksand:wght@300;400;500;600&display=swap');@tailwind base;
@tailwind components;
@tailwind utilities;

.section {
  height: 100%;
  width: 100%;
  top: 0;
  position: sticky;
  visibility: hidden;
}